<footer>
    <div class="container2">
        <section>
            <h3>Company</h3>
            <div>
                <a href="{% url 'about' %}">About us</a>
                <a href="">Terms & conditions</a>
                <a href="">Privacy policy</a>
            </div>
        </section>

        <section>
            <h3>For Customers</h3>
            <div>
                <a href="">Reviews</a>
                <a href="">Contact us</a>
                <a href="">FAQ</a>
            </div>
        </section>

        <section>
            <h3>For partners</h3>
            <div>
                <a href="{% url 'spregister' %}">Register as a professional</a>
            </div>
        </section>

        <section>
            <h3>Social Links</h3>
            <div class="social_links">
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61559174926783"><img
                            src="https://cdn-icons-png.flaticon.com/128/15047/15047435.png" alt="Facebook" width="30"></a>
                </div>
                <div>
                    <a href="https://twitter.com/adobeaid24"><img
                            src="https://cdn-icons-png.flaticon.com/128/5969/5969020.png" alt="X" width="30"></a>
                </div>
                <div>
                    <a href="https://www.instgram.com/adobeaid?igsh=dnU4NXZ2ZXliMnhk"><img
                            src="https://cdn-icons-png.flaticon.com/128/15707/15707749.png" alt="Instagram" width="30"></a>
                </div>
                <div>
                    <a
                        href="https://www.linkedin.com/in/adobe-aid-903a27308?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img
                            src="https://cdn-icons-png.flaticon.com/128/4494/4494497.png" alt="LinkedIn" width="30"></a>
                </div>
            </div>
        </section>
    </div>
</footer>
